@import url('https://fonts.googleapis.com/css2?family=B612:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



@font-face {
    font-family: 'B612', sans-serif;
    src:url("./fonts/B612/B612-Regular.ttf");
}
@font-face {
    font-family: 'roboto', sans-serif;
    src:url("./fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
    font-family: 'Arial', sans-serif;
    src:url("./fonts/ArimoB612Roboto/Arimo/Arimo-Italic-VariableFont_wght.ttf");
}

a {
    text-decoration: none;
    color: #3C4043;
    cursor: pointer;
    outline: none;
    
}
a:active {
    text-decoration: none;
    color: #3C4043;
    cursor: pointer;
    border-bottom: 1px solid #3C4043;
}

ol {
    list-style-type: none;
}
ul {
    list-style-type: none;
}

* {
    margin: 0;
    padding: 0;
}
button {
    border: none;
    outline: none;
    cursor: pointer;
}
button:active {
    transform: translateY(1px);
    box-shadow: 0px 0px 10px #1967D2;
}
body {
    max-width: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wapper {
    max-width: 1280px;
}



/*======================================= Header ===============================================*/


.header {
    width: 100%;
    height: 710px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    width: 1280px;
    height: auto;
    display: flex;
    flex-direction: row;
}
.container:last-child {
    padding-bottom: 20px;
}
.blue-block {
    width: 100%;
    height: 54px;
    background-color: #1967D2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: roboto;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 16px;
}
.header-navgation {
    padding: 0px 115px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-navgation-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.navigation {
    display: flex;
    justify-content: space-between;

}
.navigation-list {
    padding: 5px;
    width: 100%;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navigation-list-item {
    color: #3C4043;
    font-family: roboto;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 5px;
    padding: 10px 5px;
}
.search {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.search-block {
    width: 24px;
    height: 24px;
    margin: 10px 5px;
    padding: 10px 5px;
}
.search-block:hover {
    cursor: pointer;
}
.meeting-block{
    width: 100%;
    height: 600px;
    background-image: url(./images/IMAGE.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.meeting-block-items {
    width: 356px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 108px;
}
.meeting-block-item {
    color: #3C4043;
    font-family: roboto;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    margin: 22px;
}
.meeting-block-item p {
    color: #3C4043;
}
.meeting-block-item:first-child {
    font-size: 57px;
    line-height: 68px;
    font-weight: 400;
}
.meeting-block-item:last-child {
    width: 100%;
    display: flex;
    margin: 12px;
}
.meeting-block-item-button {
    margin-right: 26px;

    transform: translateY(0px);
    transition: all 0.3s ease-in-out;

}
.meeting-block-item-button-button {
    width: 100%;
    height: 43px;
    color: #3C4043;
    font-family: roboto;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    padding: 0px 10px 0px 10px;



}
.meeting-block-item-button:hover {
    border: 1px solid #5F6368;
    box-shadow: 0px 0px 10px #80868B;
    border-radius: 4px;
    transform: translateY(-3px);
    transition: all 0.3s ease-in-out;
}


/*===================Sneak a peek block=========================*/



.main-block {
    margin: 30px 24px;
}

.sneak {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #80868B;
}
.main-block:first-child {
    margin: 0px 108px;
}
.sneak-block {
    max-width: 1280px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:20px 10px;
}
.sneak-block p {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: roboto;
    font-size: 16px;
    line-height: 18.75px;
    font-weight: 400;
}
.sneak-block-list {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sneak-block-list-item {
    width: 183px;
    height:250px;
    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: none;
    transform: translateY(0px);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.sneak-block-list-item:active {
    box-shadow: none;
}
.sneak-block-list-item:hover {
    box-shadow: 0px 0px 20px #80868B;
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.sneak-block-list-item_four {
    padding-top: 9px;
    width: 183px;
    height:250px;
    display: flex;
    flex-direction: column;
    align-items: center;

    transform: translateY(0px);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.sneak-block-list-item_four:hover {
    box-shadow: 0px 0px 20px #80868B;
    transform: translateY(-10px);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.sneak-block-list-item:first-child {
    align-items: flex-start;
}
.sneak-block-list-item img {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sneak-block-list-item p {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: roboto;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.new#new {
    cursor: pointer;
    position: relative;
    top: 25px;
    left: 25px;
    color: #1967D2;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    align-items: flex-start;
}


/*===================Nba block=========================*/


.main-block-nba {
    width: 97%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.main-block-nba-img {
    width: 100%;
}
.main-block-nba-text {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: roboto;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    margin: 20px 0px;
}
.main-block-nba-text p {
    color: #3C4043;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.nba-text {
    margin: 15px 0px;
}
.nba-text:first-child {
    font-family: Roboto;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.5px;
}
.nba-button{
    color: #1967D2;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

/*===================Big images block=========================*/


.big-images {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.big-images-blocks {
    width: 100%;
    height: 692px;
    margin: 16px 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.big-images-blocks:last-child {
    height: 733px;

}
.big-images-block-top {
    width: 33%;
    height: 692px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #E9E3DB;
    border-radius:28px ;
    margin: 12px;
}
.big-images-block-top img {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.big-images-block-top:first-child {
    margin-left: 0px;
}
.big-images-block-top:last-child {
    margin-right: 0px;
}
.big-images-block-top-title {

    
    color: #3C4043;
    height: auto;
    display: flex;
    flex-direction: column;

    font-family: roboto;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    margin: 20px 20px 5px 20px;
}
.big-images-block-top-subtitle {

    color: #3C4043;
    height: auto;
    display: flex;
    flex-direction: column;

    font-family: Roboto;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0.5px;
    text-align: center;
    
}
.images-block-button {
    color: #202124;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding: 0px 20px;
    border: 2px solid #5F6368;
    border-radius: 4px;
}
.big-images-block-bottom {
    background-color: #D6E2DB;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: 12px;
    border-radius: 28px;

}
.big-images-block-bottom:last-child {
    background-color: #EFDDCD;
    margin: 0px 0px 0px 12px;

}
.big-images-block-bottom img {
    width: 100%;
    height: auto;
}
.big-images-block-bottom-title {
    color: #3C4043;
    height: auto;
    display: flex;
    flex-direction: column;

    font-family: roboto;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    margin: 20px 20px 5px 20px;
}
.big-images-block-bottom-subtitle {

    color: #3C4043;
    height: auto;
    display: flex;
    flex-direction: column;

    font-family: Roboto;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0.5px;
    text-align: center;
    
}


/*===================Shop by category block=========================*/


.shop-by-category {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.shop-by-category_block {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.shop-by-category_block:last-child{
    width: auto;
    padding: 0px 130px;
}
.shop-by-category_block span {
    color: #3C4043;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0.5px;
    font-family: Roboto;
}
.shop-by-category_block-item {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px;
}
.shop-by-category_block-item span {
    color: #1967D2;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    font-family: roboto;
    letter-spacing: 0.5px;
}
.shop-by-category_block-item:hover {

    cursor: pointer;

}
.shop-by-category_block-item_img {
    margin: 43px 0px 25px 0px;
}
.shop-by-category_block-item_img:hover {
    cursor: pointer;
}





.watches-and-earbuds {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.watces-and-earbuds_block {
    background-color: #F3F2F1;
    width: 50%;
    height: 733px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius:28px ;
    margin-right: 24px;
}
.watces-and-earbuds_block:last-child {
    background-color: #E7EBEE;
    margin: 0px;
}
.watces-and-earbuds_block-watches {
    padding-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
.watces-and-earbuds_block-watches img {
    width: 100%;
    height: auto;
}
.watces-and-earbuds_block-earbuds {
    padding-top: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.watces-and-earbuds_block-earbuds img {
    width: 100%;
    height: auto;
}
.watces-and-earbuds_block-watches-title {
    color: #3C4043;
    height: auto;
    display: flex;
    flex-direction: column;

    font-family: roboto;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.watces-and-earbuds_block-watches-subtitle {
    color: #3C4043;
    height: auto;
    display: flex;
    flex-direction: column;

    font-family: Roboto;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0.5px;
    text-align: center;    

    margin-top: -25px;
}
.watces-and-earbuds_block-earbuds-title {
    color: #3C4043;
    height: auto;
    display: flex;
    flex-direction: column;

    font-family: roboto;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.5px;

    margin-top: 20px;

}
.watces-and-earbuds_block-earbuds-subtitle {
    color: #3C4043;
    height: auto;
    display: flex;
    flex-direction: column;

    font-family: Roboto;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0.5px;
    text-align: center;
    margin-top: -65px;
}
.watces-and-earbuds_block-watches-button {
    color: #202124;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding: 0px 20px;
    border: 2px solid #5F6368;
    border-radius: 4px;

    margin-top: -10px;
}
.watces-and-earbuds_block-watches-button:hover {
    border: 2px solid #1967D2;
    box-shadow: 0px 0px 10px #80868B;
    border-radius: 4px;
    transform: translateY(-1px);
    transition: all 0.3s ease-in-out;
}
.watces-and-earbuds_block-earbuds-button {
    color: #202124;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding: 0px 20px;
    border: 2px solid #5F6368;
    border-radius: 4px;

    margin-top: -55px;
}
.watces-and-earbuds_block-earbuds-button:hover {
    border: 2px solid #1967D2;
    box-shadow: 0px 0px 10px #80868B;
    border-radius: 4px;
    transform: translateY(-1px);
    transition: all 0.3s ease-in-out;
}


/**************************Putting block***************************/


.putting {
    width: 100%;
    max-height: 692px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.putting-block {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.putting-block_images {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* .putting-block_images img {
    width: 100%;
    height: auto;
} */
.putting-block_text {
    width: 65%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 100px;

}
.putting-block_text-title {
    color: #3C4043;
    height: auto;
    display: flex;
    flex-direction: column;

    font-family: Roboto;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0.5px;

    margin-bottom: 19px;


}
.putting-block_text-subtitle {
    color: #3C4043;
    height: auto;
    display: flex;
    flex-direction: column;

    font-family: roboto;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.5px;

    margin-bottom: 22px;

}
.putting-block_text-button {
    color: #202124;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    border: 2px solid #5F6368;
    border-radius: 4px;
    padding: 8px 20px;
}
.putting-block_text-button:hover {
    border: 2px solid #1967D2;
    box-shadow: 0px 0px 10px #80868B;
    border-radius: 4px;
    transform: translateY(-1px);
    transition: all 0.3s ease-in-out;
}


/*===================Last text block=========================*/


.last-text-block {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.last-text-block_block-img {
    margin: 16px;
}
.last-text-block_block-title {
    width: 580px;
    display: flex;
    justify-content: center;
    color: #3C4043;
    font-family: roboto;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.5px;

    margin-bottom: 42px;
}
.last-text-block_block-button {
    color:#202124;
    font-family: roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    border: 2px solid #5F6368;
    border-radius: 4px;
    padding: 0px 20px;

    margin-bottom:28px; ;
}
.last-text-block_block-button:hover {
    border: 2px solid #1967D2;
    box-shadow: 0px 0px 10px #80868B;
    border-radius: 4px;
    transform: translateY(-1px);
    transition: all 0.3s ease-in-out;
}
.last-text-block_block-email {
    color: #1967D2;
    font-family: roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin-bottom: 80px;
}
.last-text-block_block-email a {
    color: #1967D2;

}
.last-text-block_block-subtitle {
    width: 1180px;
    color: #3C4043;
    font-family: roboto;
    font-size: 12px;
    line-height: 20px;
}

/*===================Servises block=========================*/


.servises {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: colomn;
    align-items: center;
}
.servises-blocks {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.servises-blocks-item {
    font-family: Arial;
    color: #3C4043;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin: 10px 20px;
}


/*===================Footer block=========================*/


.footer {
    margin-top: 50px;
    padding: 50px 0px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top:2px solid #80868B;
}
.footer-block {
    width: auto;
    height: auto;
    display: flex;

}
.footer-block-img {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.footer-block-img-item {
    cursor: pointer;
    margin: 8px;
}

.footer-block-text {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.footer-block-text-item {
    width: auto;
    display: flex;
    align-items: center;
    color: #3C4043;
    font-family: Arial;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;

    margin: 10px 20px;
}
.footer-block-text-item img {
    margin-right:12px;
}
.footer-block-text-item:hover {
    cursor: pointer;
}